*
{
    margin: 0;
    padding: 0;
}
.km-flat .km-content
{
    margin-top: 10px;
    font-size: 10px;
}
.km-scroll-container
{
    background-color: #f0f0f0;
}
.km-flat .km-scroll-wrapper
{
    background-color: #fff;
    border-right: 3px solid #dbe3e4;
    margin-top: 0;
    padding-top: 5px;
}
.km-flat .km-scroll-wrapper input[type="text"]
{
    padding: 5px;
    width: 95%;
    margin: 5px auto;
    display: block;
    border-radius: 5px;
}
.km-scroll-wrapper, .km-scroll-container
{
    height: 100%;
}
.tam-view .button-wrap
{
    text-align: center;      
}
.km-flat .km-button
{
    font-size: 1rem;
    margin: 5px;
}

img
{
    border: 0;
    margin: 5px;
}
p
{
    font-size: 1rem;
    line-height: 1rem;
}
h1
{
    text-align: center;
    margin: 10px 0;
}
h3
{
    font-size: 1rem;
    text-align: center;
}
label
{
    font-size: 1rem;
    margin: 5px;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}

.distance-right
{
    margin-right: 20px;
}
.distance-right-s
{
    margin-right: 10px;
}
.distance
{
    margin: 10px 5px;
}
.grey
{
    margin: 0 !important;
    padding: 5px;
    background-color: #f5f7f8;
}
.light
{
    margin: 0 !important;
    padding: 5px;
    color: #3d98d7;
    background-color: #ebf5fb;
}
.datetime
{
    font-size: .8rem;
}
.message
{
    border: 2px solid #dbe3e4;
    height: 100px;
    z-index: 999;
    background-color: #fff;
}
.small
{
    font-size: .8rem;
}
.list h4
{
    font-size: 1.1rem;
    line-height: 38px;
}
.km-flat .list li
{
    border-bottom: 2px solid #dbe3e4;
}
span.right
{
    color: #3789c2;
}

#header
{
    height: 40px;
}
#header.km-navbar
{
    height: 100%;
}
#header .km-navbar 
{
    background-color: #2d3e50;
}
.km-view-title
{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding-left: 25px;
}
.title-holder
{
    margin-left: 60px;
}

span.number-info
{
    background-color: #97c7e7;
    display: block;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-size: 1rem;
    height: 30px;
    line-height: 20px;
    border-radius: 15px;
}

#app-drawer
{
    width: 85%;
}
#app-drawer p
{
    text-align: center;
}

#newsList li
{
    border: 2px solid #dbe3e4;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(219, 227, 228, 0.5);
}